<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>

<h1>Users</h1>


<% @users.each do |user| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p><%= user.username %></p></div>
      <div class="panel-content">
        <p><%= user.email %></p></div>
    </div>
<% end %>
