<div class="header">
  <b>
    Users
  </b>
</div>

<% @users.each do |user| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p><%= user.username %></p></div>
      <div class="panel-content">
        <p><%= user.email %></p></div>
    </div>
<% end %>

<style>

.header {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 15px;
  color: white;
}

</style>
