<!-- <h1><%= timeago_tag Time.zone.now, format: "%a, %B %d" %></h1>

<% if !@challenge.blank? %>
  <%=  @challenge.content  %> -->

<!-- <p><%= timeago_tag Time.zone.now, format: "%a, %B %d" %></p> -->

<%= render 'form' %>
<% end %>
